PORT=3000
# Crea una cuenta gratuita en https://dashboard.ngrok.com y copia tu token.
NGROK_AUTHTOKEN=pega_aqui_tu_token

# Clave disponible en https://dashboard.api-football.com/
API_SOCCER_KEY=pega_aqui_tu_api_key
